# Acquire Free Financial Market Data with Cutting-Edge Python Libraries

In this chapter, the goal is to cover:
1. Diving into continuous futures data with Nasdaq Data Link
2. Exploring S&P500 ratios data with Nasdaq Data Link
3. Working with stock market data with the OpenBB Platform
4. Fetching historic futures data with the OpenBB Platform 
5. Navigating options market with the OpenBB Platform 
6. Harnessing factor data using pandas_datareader

In [5]:
# installing OpenBB Platform with all extensions and providers using pip
!pip install "openbb[all]" --quiet # hides logs

In [7]:
# Accesing continuous contract data for 600 futures contracts from CME, ICE, LIFFE and other exchanges
!pip install nasdaq-data-link --quiet

In [10]:
# importing the API key from Creds.py
import creds

In [15]:
# importing nasdaqdatalink and configuring our API key
import nasdaqdatalink
nasdaqdatalink.ApiConfig.api_key = creds.api_key

In [23]:
import nasdaqdatalink
data = nasdaqdatalink.get_table('ZACKS/FC', ticker='AAPL')

In [61]:
data.head()

,m_ticker,ticker,comp_name,comp_name_2,exchange,currency_code,per_end_date,per_type,per_code,per_fisc_year,...,stock_based_compsn_qd,cash_flow_oper_activity_qd,net_change_prop_plant_equip_qd,comm_stock_div_paid_qd,pref_stock_div_paid_qd,tot_comm_pref_stock_div_qd,wavg_shares_out,wavg_shares_out_diluted,eps_basic_net,eps_diluted_net
None,,,,,,,,,,,,,,,,,,,,,
0,AAPL,AAPL,Apple,Apple Inc.,NASDAQ,USD,2018-12-31,Q,None,2019,...,1559.0,26690.0,-3355.0,-3568.0,None,-3568.0,18943.28,19093.01,1.0550,1.0450
1,AAPL,AAPL,Apple,Apple Inc.,NASDAQ,USD,2018-09-30,Q,None,2018,...,1345.0,19523.0,-3041.0,-3530.0,None,-3530.0,19821.51,20000.44,0.7425,0.7400
2,AAPL,AAPL,Apple,Apple Inc.,NASDAQ,USD,2018-06-30,Q,None,2018,...,1351.0,14488.0,-3267.0,-3653.0,None,-3653.0,19528.67,19706.44,0.5900,0.5850
3,AAPL,AAPL,Apple,Apple Inc.,NASDAQ,USD,2018-03-31,Q,None,2018,...,1348.0,15130.0,-4195.0,-3190.0,None,-3190.0,20099.51,20273.97,0.6875,0.6825
4,AAPL,AAPL,Apple,Apple Inc.,NASDAQ,USD,2018-09-30,A,None,2018,...,NaN,NaN,NaN,NaN,None,NaN,19821.51,20000.44,3.0000,2.9800

In [64]:
data = nasdaqdatalink.get_table('QDL/FON',contract_code='967654', date='2019-10-08,2019-10-01,2019-09-24')
data.head()

,contract_code,type,date,market_participation,producer_merchant_processor_user_longs,producer_merchant_processor_user_shorts,swap_dealer_longs,swap_dealer_shorts,swap_dealer_spreads,money_manager_longs,money_manager_shorts,money_manager_spreads,other_reportable_longs,other_reportable_shorts,other_reportable_spreads,total_reportable_longs,total_reportable_shorts,non_reportable_longs,non_reportable_shorts
None,,,,,,,,,,,,,,,,,,,
0,967654,F_OTR_OI,2019-10-08,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,967654,F_OTR_OI,2019-10-01,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,967654,F_OTR_OI,2019-09-24,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,967654,F_OTR_NT,2019-10-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
4,967654,F_OTR_NT,2019-10-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN

In [44]:
help(nasdaqdatalink.get_table)

Help on function get_table in module nasdaqdatalink.get_table:

get_table(datatable_code, **options)

# Working with stock market data with the OpenBB Platform

In [45]:
from openbb import obb

Extensions to add: alpha_vantage@1.3.3, biztoc@1.3.3, cboe@1.3.3, ecb@1.3.3, econometrics@1.4.3, finra@1.3.3, finviz@1.2.3, government_us@1.3.3, multpl@1.0.3, nasdaq@1.3.3, openbb_charting@2.2.3, quantitative@1.3.3, seeking_alpha@1.3.3, stockgrid@1.3.3, technical@1.3.3, tmx@1.2.3, tradier@1.2.3, wsj@1.3.3

Building...

In [46]:
obb.user.preferences.output_type = 'dataframe'

In [59]:
# we can use 'historical' method in order to download price data for AAPL
df_daily = obb.equity.price.historical(symbol="aapl")
df_daily.head(3)

            open  high   low  close      volume
date
2004-01-02  0.39  0.39  0.38   0.38  2024993600
2004-01-05  0.38  0.40  0.38   0.40  5530257600
2004-01-06  0.40  0.40  0.39   0.40  7130872000

In [60]:
top_crypto= ['ADA-USD', 'BNB-USD', 'BTC-USD', 'DOT-USD', 'ETH-USD', 'LTC-USD','MATIC-USD', 'SOL-USD', 'TRX-USD', 'XRP-USD']

ohlc_data= obb.crypto.price.historical(top_crypto, provider="yfinance", interval='1d', start_date='2023-10-01', end_date='2024-10-01')
ohlc_data.head(3)

,open,high,low,close,volume,symbol
date,,,,,,
2023-10-01,0.254043,0.267471,0.254019,0.265895,1.650882e+08,ADA-USD
2023-10-01,214.800323,219.133835,213.506516,218.047134,3.874081e+08,BNB-USD
2023-10-01,26967.396484,28047.238281,26965.093750,27983.750000,9.503917e+09,BTC-USD

In [67]:
df_daily = obb.equity.price.historical(
    symbol="spy", start_date="1990-01-01", provider="cboe")
df_daily.head(1)

              open    high     low   close    volume
date
2004-01-02  111.74  112.19  110.73  111.23  38072300

In [68]:
# in order to change for providers, which require API keys (either free of paid), we may configure them in OpenBB Hub.

In [71]:
# we can not only use OpenBB Platform to download fundamental data, but it can also concatenate it in a single df for further analysis
# this code snippet would provide us with balance sheet metrics for Apple and Microsoft
obb.equity.fundamental.metrics("AAPL,MSFT").transpose()

                                        0                1
symbol                               AAPL             MSFT
market_cap                3586040000000.0  3177700000000.0
pe_ratio                            35.91            36.23
foward_pe                           31.79            27.87
eps                                  6.57             11.8
price_to_sales                        9.3            12.96
price_to_book                       53.82            11.84
book_value_per_share                 4.38            36.11
price_to_cash                       58.03            42.06
cash_per_share                       4.06            10.16
price_to_free_cash_flow             34.37             42.9
debt_to_equity                       1.52             0.36
long_term_debt_to_equity             1.29             0.31
quick_ratio                          0.91             1.27
current_ratio                        0.95             1.27
gross_margin                       0.4596           0.6976
profit_margin                      0.2644           0.3596
operating_margin                   0.3127           0.4464
return_on_assets                   0.3059           0.1907
return_on_investment               0.6668           0.2508
return_on_equity                   1.6058           0.3713
payout_ratio                       0.1532           0.2542